* {
    box-sizing: border-box;
}

body {
    background: url('../img/bg-diamond.png');
    font-family: "Merriweather", "Helvetica Neue", arial, sans-serif;
    font-size: 62.5%;
    margin:0;
}

a {
    color: #ce4072;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

a:visited {
    color: #ce4072;
}

.btn {
    border: 2px solid #ce4072;
    border-radius: 5px;
    color: #ce4072;
    display: inline-block;
    font-family: Ephesus,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .075em;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0;
    vertical-align: text-top;
    padding: .5em 1.2em .8em;
    text-decoration: none;
    background: rgba(255,255,255,.5);
}

.arrow-btn {
    background: #ce4072;
    color: #fff;
    font-size: 9px;
    padding: .4em 1.2em .4em;
    position: relative;
}

    .arrow-btn:before {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow-btn:hover {
        background: #bd3061;
    }

    .arrow-btn:visited {
        color: #fff;
    }

        .arrow-btn-top:before {
            bottom: 100%;
            left: 50%;
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: #ce4072;
            border-width: 5px;
            margin-left: -5px;
        }

            .arrow-btn-top:hover:before {
                border-bottom-color: #bd3061;
            }

        .arrow-btn-left:before {
            right: 100%;
            top: 50%;
            border-color: rgba(194, 225, 245, 0);
            border-right-color: #ce4072;
            border-width: 7px;
            margin-top: -7px;
        }

            .arrow-btn-left:hover:before {
                border-right-color: #bd3061;
            }

.btn-container {
    text-align: center;
    width: 100%;
}

p, ul, ol {
    font-size: 1.8em;
    line-height: 1.6em;
}

p, li {
    margin-bottom: 15px;
}

img {
    border: solid 20px rgba(255,255,255,0.05);
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}

    @media (max-width: 480px) {
        .container {
            width: 90%;
        }
    }

#lines{
    margin-bottom: 2em;
    text-align: center;
}

#lines svg {
    overflow-x: scroll;

}

.line {
    fill: none;
    stroke: #ce4072;
    stroke-width: 2px;
    stroke-linejoin: round;
}
svg{
    /*background-color:#f5f5f5;*/
}

#head{
    background-color: #fff;
    font-family: "Helvetica Neue", arial, sans-serif;
    padding: 0.25em 1em;
}
#head a {
   color: #000;
}
#head a small {
    color:#ccc;
}


#captureArea, #viewArea{
    text-align: center;
}
#captureArea video,#viewArea canvas{
    margin:auto;
    max-width: 100%;
}
#viewArea {
    position: relative;
}
#viewArea canvas{
    background: #000;
    box-shadow: 0 0px 15px 0px #A29F9F; 
}

#capture {
    background: #E04006;
    border: solid 15px #333;
    bottom: 20px;
    border-radius: 100%;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
}

    #capture:hover {
        background: #FF4040;
        border: solid 13px #555;
    }

.viewContainer {
    margin-bottom: 15px;
}

#hello {
    margin:1em 0;
}

/* calibrate label */
label{
    font-size: 1em;
    zoom: 1.5;
    padding: 1em;
    display: block;
}


a{
    color:#08f;
    text-decoration: none;
}

/* Sections */

.section-block {
    padding: 2em 0;
}

.section-header {
    font-size: 2.8em;
    text-align: center;
}

    .section-header .btn {
        float: left;
        margin-right: 25px;
    }

    .section-header.has-link {
        text-align: left;
    }

    @media (max-width: 480px) {
        .section-header {
            font-size: 2em;
        }
        .section-header .btn {
            float: none;
            margin:0 0 10px 0;
        }
        .section-header span {
            display: block;
        }
    }

/* Instructions */

.section-instructions {
    background: url(../img/bg-diamond-dark.png) repeat #26424f;
    color: #fff;
}

.instructions-list {
    color: rgba(255,255,255,.7);
    padding-left: 10%;
}

.instructions-list img {
    margin-bottom: 1em;
}

.instructions-list strong {
    color: #fff;
    font-weight: normal;
}

/* All page */

#pages a {
    border-radius: 5px;
    border: solid 2px #ce4072;
    color: #ce4072;
    display: inline-block;
    font-size: 1.6em;
    margin: 0 .5em .5em 0;
    padding: 5px 10px;
}

    #pages a:hover {
        border: solid 2px #bd3061;
        color: #bd3061;
    }


/* Footer */

.page-footer {
    background: #ce4072;
    color: #fff;
}

.page-footer a {
    color: rgba(255,255,255,.7);
}

.page-footer a:hover {
    color: rgba(255,255,255,.9);
}

/* Helpers */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
